/* navigation Section */
.main_header{
    height: 92px;
    position: sticky;
    top: 0px;
    z-index: 4;
    background: rgb(255,255,255);
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
    display: flex;
    padding: 0px 20px;
  }
  .header_logo{
    align-self: center;
    height: 109px;
    width: 330px;
  }
  .header_search_content{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .site_navigation{
    color: rgb(95, 95, 95);
    height: 30px;
    right: 2px;
    position: absolute;
    width: auto;
    margin-top: 7px;
  }
  .site_navigation ul{
    margin: 0px;
    display: flex;
    height: 30px;
    align-items: center;
    
  }
  .site_navigation ul li{
    margin: 0px 8px 0px 9px;
    height: 43%;
    align-items: center;
    font-size: 12px;
    font-family: Open Sans;
    display: inline-block;
    cursor: pointer; 
  }
  .site_navigation ul li a{
    padding-right: 18px;
    border-right: 2px solid rgba(122, 122, 122, 0.616);
  }
  .site_navigation ul li:nth-last-child(2) a{
    border-right: none;
  }
  
  .site_navigation ul li select{
      outline: none;
      border: none;
      color :rgb(95, 95, 95);
      font-family: Open Sans;
      margin: -7px;
      font-size: 12px;
  }
  .site_navigation ul li select option{
    padding: 5px;
  }
  .navigation_container{
    color: rgb(95, 95, 95);
    width: auto;
    display: flex;
    align-items: center;
    margin-top: 54px;
    margin-right: -15px;
   
  }
  .navigation_container ul{
    margin: 0px;
    display: flex;
    height: 30px;
    align-items: center;
    margin-bottom: 12px;
  }
  .navigation_container ul li{
    font-family: Open Sans;
    margin: 1px 34px 0px 2px;
    height: 100%;
    align-items: center;
    font-size: 15px;
    display: inline-block;
    font-weight: 450;
    padding-bottom: 24px;
  }
  .navigation_container ul li a:active{
    padding-bottom: 17px;
    color: #0067a5 !important;
    font-weight: 450;
    border-bottom: 3px solid #0067a5;
  }
  .navigation_container ul li a:hover{
    padding-bottom: 17px;
    color: #6f7070;
    font-weight: 450;
    border-bottom: 3px solid #0067a5;
  }
  .activeLink a{
    padding-bottom: 17px;
    color: #0067a5 !important;
    font-weight: 450;
    border-bottom: 3px solid #0067a5;
  }